doctype html
html(lang="ru")
	head
		include ../partials/common/head

	body
		include ../partials/common/header

		.page
			.container.text-center
				h1.page-title Hello!!!
				p this is description...

		include ../partials/common/footer