.container
	padding: 0 10px
	margin: 0 auto
	max-width: 1220px

.row,
.wrapper
	font-size: 0
.row
	margin: 0 -10px

.clearfix
	&:before,
	&:after
		display: block
		content: ""

	&:after
		clear: both

@media screen and (max-width: 1220px)
	/**/
	.container
		padding-left: 20px
		padding-right: 20px
