// base.sass
*
	box-sizing: border-box

button, input, optgroup, select, textarea
	font-family: $regular

html, body
	height: 100%

body
	min-width: 320px
	position: relative
	background: $white
	font-size: 16px
	color: $black
	font-family: $regular
	overflow-x: hidden
	opacity: 1

img
	max-width: 100%
	height: auto
	object-fit: cover

.img-responsive
	display: block
	max-width: 100%
	height: auto

.img-circle
	border-radius: 50%

.img-fluid
	display: block
	+size(100%)

p,
ul
	margin: 0

a
	color: #999
	text-decoration: none
	transition: color 0.25s ease

	&:hover,
	&:focus,
	&:active,
	&.active
		color: $black
		text-decoration: none
ul
	list-style: none
	padding: 0

address
	font-style: normal

b, strong
	font-weight: 700

.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
.text-upper
	text-transform: uppercase

.font-regular
	font-weight: 400
.font-medium
	font-weight: 500
.font-bold
	font-weight: 700
.font-italic
	font-style: italic

.color-white
	color: $white
.color-black
	color: $black

.gray-theme
	background-color: $gray

.dark
	background-color: $black
	color: $white

	a
		color: $white

		&:hover,
		&:focus,
		&:active
			color: $white

.valign-wrapper

	&:before
		display: inline-block
		height: 100%
		vertical-align: middle
		content: ""

.relative
	position: relative

.left
	float: left

.right
	float: right

.clearfix

	&:before,
	&:after
		content: ""
		display: block

	&:after
		clear: both

.hidden
	display: none