//- header.pug

header.header
	.header-top
		.container
			.header-logo
				a.header-logo__link(href="main.html")
					img(src="src/img/logo.png" alt="logo")/
					span.header-logo__text Logo
			.header-main